
/*=====================================
== SN SOCIAL SHARE PLUGIN
=====================================*/

.sn-social-sharer{
  padding: 10px 0;
    display: flex;
  flex-wrap: wrap;
   justify-content:  space-between;
   color: #fff;
}

.sn-social-sharer a:link,
.sn-social-sharer a:hover,
.sn-social-sharer a:visited{
    color:#fff;
    text-decoration:none;
}

.sn-social-sharer [class*='-share']{
	padding: 5px 0px;
   text-align: center;
    text-decoration: none;
   width: 33%;
}

.fb-share{
	background: #3b5998;
}

.tw-share{
	background: #1da1f2;
}

.ws-share{
	background: #25d366;
}

.sn-social-sharer [class*='-share'] span:before{
  font-size: 20px;
  font-family: snflaticon;
  padding-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.fb-share span:before{
  content: "\f100";
}


.tw-share span:before{
  content: "\f101";
}


.ws-share span:before{
  content: "\f102";
}

@media only screen and (max-width: 480px) {

    .sn-social-sharer [class*='-share']{
        width:100%;
        margin-bottom:4px;
    }

}